* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
  font-family: "Nunito" sans-serif;
}

img.contact {
  height: 400px;
  width: 550px;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 5rem;
}

.button {
  background-color: #6b3293 !important;
  color: white !important;
}

.btn-cancel {
  background-color: white !important;
  color: black !important;
}

.contact-section {
  display: flex;
  margin: 0 5rem;
  flex-direction: column;
  align-items: center;
}

.contact-text {
  grid-column: span 3;
  font-size: 2rem;
  margin-bottom: 4rem;
}
