* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
  font-family: "Nunito" sans-serif;
}

img.contact {
  height: 400px;
  width: 550px;
}

.button {
  background-color: #6b3293;
  padding: 15px 30px;
  margin-top: 20px;
  font-size: 0.9rem;
  height: 50px;
  width: 200px;
  color: #fff;
}

.button:hover {
  cursor: pointer;
  color: #999;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 5rem;
}

.contact-section {
  display: flex;
  margin: 0 5rem;
  flex-direction: column;
  align-items: center;
}

.contact-divider {
  border-left: 2px solid #999;
  height: 85%;
}

.contact-text {
  grid-column: span 3;
  font-size: 2rem;
  margin-bottom: 4rem;
}
